@using Vidly.Repositorio
@{
    ViewBag.Title = "Vidly";
}

@if(HttpContext.Current.User.Identity.IsAuthenticated)
{
    <h1 style="text-align:center">Bem Vindo, @UserRepositorio.GetUserLogged().Customer.Name</h1>
}
else{
    <h1 style="text-align:center">Bem vindo!</h1>
}

<p>@Html.ActionLink("Logout", "Logout", "Home")</p>